body {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
background-repeat: repeat-x;
background-color: mintcream;
}

.button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: gray;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid gray;
  padding: 10px;
}

.row div {
  padding: 10px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  float: left;
  background-color: burlywood;
  color: blue;
  text-align: center;
  font-size: 40px;
}

.row div:hover {
  background-color: green;
}

div.row {
  margin-left: 500px;
}

.row {
  clear: both;
}